@{
    ViewData["Title"] = "Detail Sertifikasi";
}

<div class="content">
    <form method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <div class="form-group">
                        <label for="idprodi" class="control-label">Program Studi</label>
                        <select name="idprodi" id="idprodi" class="form-control" required>
                            <option value="">-- Pilih Program Studi --</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Nama sertifikasi <span style="color: red;">*</span></label>
                        <input class="form-control" name="namasertifikat" id="namasertifikat" required />
                        <span id="namasertifikat" class="text-danger"></span>
                    </div>


                <div class="form-group">
                    <label class="control-label">Tanggal sertifikasi <span style="color: red;">*</span></label>
                    <input class="form-control" type="date" name="tanggal" id="tanggal" />
                    <span id="tanggalError" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Lembaga sertifikasi <span style="color: red;">*</span></label>
                    <input class="form-control" name="lembagaserti" id="lembagaserti" required />
                    <span id="lembagaSerti" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label class="control-label">Level sertifikasi <span style="color: red;">*</span></label>
                    <input class="form-control" name="levelserti" id="levelserti" required />
                    <span id="levelSerti" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Level KKNI <span style="color: red;">*</span></label>
                    <input class="form-control" type="number" name="levelkkni" id="levelkkni" required />
                    <span id="levelkkni" class="text-danger"></span>
                </div>

                 <div class="form-group">
                        <label class="control-label">Jumlah yang berkompeten <span style="color: red;">*</span></label>
                        <input class="form-control" type="number" name="kompeten" id="kompeten" required />
                        <span id="kompeten" class="text-danger"></span>
                 </div>

                    <div class="form-group">
                        <label class="control-label">Jumlah yang tidak berkompeten<span style="color: red;">*</span></label>
                        <input class="form-control" type="number" name="tidakkompeten" id="tidakkompeten" required />
                        <span id="tidakkompeten" class="text-danger"></span>
                    </div>



                <div class="form-group">
                    <label class="control-label">
                        Bukti Pendukung
                        <span style="color: red;">*</span>
                    </label>

                    <div class="form-group">
                        <div class="col-mid-10">
                            <input type="file" class="form-control" name="buktipendukung" id="buktipendukung" multiple="multiple" accept=".pdf" required>
                        </div>
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" onclick="simpan()">Simpan</button>
                </div>
            </div>
        </div>
       </div>
    </form>
</div>

<script>
    loadProdi();

    function loadProdi() {
        var hostname = "http://localhost:5268/";
        var url = hostname + "GetAllProdi";
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var list = data.data;
                list.forEach(function (item) {
                    var newOption = '<option value="' + item.idProdi + '">' + item.namaProdi + "</option>";
                    $("#idprodi").append(newOption);
                });
            },
        });
    }

    function simpan() {
        var idser = document.getElementById("idProdi").value;
        var namaserti = document.getElementById("namasertifikat").value;
        var tanggal = document.getElementById("tanggal").value;
        var lembaga = document.getElementById("lembagaserti").value;
        var level = document.getElementById("levelserti").value;
        var levelk = document.getElementById("levelkkni").value;
        var modul = $("#buktipendukung")[0].files[0];
        var kompeten = document.getElementById("kompeten").value;
        var tidakkompeten = document.getElementById("tidakkompeten").value;

        document.getElementById("idProdi").innerText = '';
        document.getElementById("lembagaSerti").innerText = '';
        document.getElementById("levelSerti").innerText = '';
        document.getElementById("levelkkni").innerText = '';
        document.getElementById("tanggalError").innerText = '';  // New line for date validation

        var isValid = true;

        if (!lembaga.trim()) {
            // Display error message for empty certification name
            document.getElementById("lembagaSerti").innerText = 'Lembaga Sertifikasi harus diisi.';
            isValid = false;
        }

        if (idser === "-- Pilih Nama Sertifikasi --") {
            // Display error message for not selecting a program
            document.getElementById("idsertifikasiError").innerText = 'Nama Sertifikasi harus dipilih.';
            isValid = false;
        }

        if (!level.trim()) {
            // Display error message for empty certification name
            document.getElementById("levelSerti").innerText = 'Level Sertifikasi harus diisi.';
            isValid = false;
        }

        if (!levelk.trim()) {
            // Display error message for empty certification name
            document.getElementById("levelkkni").innerText = 'Level KKNI harus diisi.';
            isValid = false;
        }

        if (!tanggal.trim()) {
            // Display error message for empty date
            document.getElementById("tanggalError").innerText = 'Tanggal Sertifikasi harus diisi.';
            isValid = false;
        }

        if (!isValid) {
            // Stop further processing if there are validation errors
            return;
        }

        if (modul) {
            uploadFile(modul); // Upload the selected file
        }


        var hostname = "http://localhost:5268/";
        var url = hostname + "InsertDetailSertifikasi";
        var method = "POST";

        var data = {
            idProdi: idser,
            namaSerti: namaserti,
            tanggal: tanggal,
            lembaga: lembaga,
            level:level,
            levelKKNI: levelk,
            PDF: modul ? modul.name : null,
            kompeten: kompeten,
            tidak_kompeten:tidakkompeten


            };

        $.ajax({
            url: url,
            method: method,
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (data) {
                // Menampilkan SweetAlert setelah data berhasil disimpan
                Swal.fire({
                    icon: 'success',
                    title: 'Berhasil',
                    text: 'Data berhasil ditambahkan!',
                }).then((result) => {
                    // Redirect ke halaman Index setelah menekan OK di SweetAlert
                    if (result.isConfirmed) {
                        window.location.href = "/DetailSertifikasi/Index";
                    }
                });
                downloadFile(data);
            },
            error: function (error) {
                console.error('Error:', error);
                // Tambahkan penanganan kesalahan jika diperlukan
            }
        });

        var rootHost = "http://localhost:5268";

         function uploadFile(file) {
            var formData = new FormData();
            formData.append("file", file);

            $.ajax({
                url: rootHost + '/DetailSertifikasi/UploadFile',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    // Handle success, if needed
                    console.log("File uploaded successfully");
                },
                error: function () {
                    // Handle error, if needed
                    console.log("Error uploading file");
                }
            });
        }
    }
</script>