<!doctype html>
<html lang="en" dir="ltr">
<head runat="server">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Sertfikasi Politeknik Astra</title>
	<link href="~/Content/Images/Logo_ASTRAtech.png" rel="icon">
	<link rel="shortcut icon" href="~/assets/Images/logo/astratech.ico" />
	<link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script src="~/Content/Scripts/tether/tether.min.js"></script>
    <script src="~/Content/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Content/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/Plugins/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Content/Scripts/jquery.fancybox.pack.js"></script>
    <script src="~/Content/Scripts/bootstrap-select.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
	<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>


</head>
<body>
    <header>
        <div class="polman-nav-static-top" style="display: flex; align-items: center; justify-content: space-between;">
            <div class="float-left">
                <a asp-controller="Login" asp-action="Index">
                    <img src="~/Content/Images/IMG_1687.png" style="height: 50px;" />
                </a>
            </div>

            <div class="dropdown" id="login" style="padding-right: 2%;">
                <div class="col-lg-4 mt-2 mb-2">
                    <a class="btn btn-primary" asp-controller="Login" asp-action="Index">Masuk</a>
                </div>
            </div>
        </div>
    </header>

		<div class="container-fluid" style="padding-top: 50px;">
			<!-- Adjust the value according to your needs -->
			@RenderBody()
		</div>

        <style>
        .polman-nav-static-top {
            top: 0;
            left: 0;
            right: 0;
            position: fixed;
            height: 70px;
            width: 100% !important;
            padding: 10px 20px 10px 20px;
            box-shadow: 0px 2px 0px 0px #EEE;
            background-color: white;
            z-index: 4;
        }
        </style>
    
</body>
</html>