@{
    ViewData["Title"] = "Sertifikasi";
}

<div class="content">
    <form method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <div class="form-group">
                        <label for="idprodi" class="control-label">Program Studi</label>
                        <select name="idprodi" id="idprodi" class="form-control" required>
                            <option value="">-- Pilih Program Studi --</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Nama sertifikasi <span style="color: red;">*</span></label>
                        <input class="form-control" name="namasertifikat" id="namasertifikat" required />
                        <span id="namasertifikat" class="text-danger"></span>
                    </div>


                <div class="form-group">
                    <label class="control-label">Tanggal sertifikasi <span style="color: red;">*</span></label>
                    <input class="form-control" type="date" name="tanggal" id="tanggal" />
                    <span id="tanggalError" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Lembaga sertifikasi <span style="color: red;">*</span></label>
                    <input class="form-control" name="lembagaserti" id="lembagaserti" required />
                    <span id="lembagaSerti" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Level sertifikasi <span style="color: red;">*</span></label>
                    <input class="form-control" name="levelserti" id="levelserti" required />
                    <span id="levelSerti" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Level KKNI <span style="color: red;">*</span></label>
                    <input class="form-control" type="number" name="levelkkni" id="levelkkni" required />
                    <span id="levelkkni" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="control-label">Bukti Pendukung <span style="color: red;">*</span></label>
                        <input class="form-control" type="file" name="buktipendukung" id="buktipendukung" multiple="multiple" accept=".pdf" required />
                        <span id="buktipendukung" class="text-danger"></span>
                </div>

                    <div class="form-group">
                        <label class="control-label">Peserta Kompeten <span style="color: red;">*</span></label>
                        <input class="form-control" type="number" name="kompeten" id="kompeten" required onchange="hitungJumlahPeserta()" />
                        <span id="kompeten" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Peserta Tidak Kompeten <span style="color: red;">*</span></label>
                        <input class="form-control" type="number" name="tidakkompeten" id="tidakkompeten" required onchange="hitungJumlahPeserta()" />
                        <span id="tidakkompeten" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Peserta Tidak Hadir <span style="color: red;">*</span></label>
                        <input class="form-control" type="number" name="tidakhadir" id="tidakhadir" required onchange="hitungJumlahPeserta()" />
                        <span id="tidakhadir" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="jumlah">Total Peserta <span style="color: red;">*</span></label>
                        <input type="number" name="jumlah" class="form-control" id="jumlah" readonly>
                    </div>
@*                    <div class="form-group">
                        <label for="jumlah">Progress <span style="color: red;">*</span></label>
                        <progress id="fileProgress" style="display: none"></progress>
                    </div>*@

                    <br />
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="simpan()">Simpan</button>
                    </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>
    loadProdi();

    function loadProdi() {
        var hostname = "https://localhost:44303/";
        var url = hostname + "GetAllProdi";
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var list = data.data;
                list.forEach(function (item) {
                    var newOption = '<option value="' + item.idProdi + '">' + item.namaProdi + "</option>";
                    $("#idprodi").append(newOption);
                });
            },
        });
    }

    function simpan() {
        var hostname = "https://localhost:44303/";
        var url = hostname + "InsertSertifikasi";
        var method = "POST";
        console.log(url);
        /*
        document.getElementById("idProdi").innerText = '';
        document.getElementById("lembagaSerti").innerText = '';
        document.getElementById("levelSerti").innerText = '';
        document.getElementById("levelkkni").innerText = '';
        document.getElementById("tanggalError").innerText = '';  // New line for date validation
        var isValid = true;

        if (!lembaga.trim()) {
            // Display error message for empty certification name
            document.getElementById("lembagaSerti").innerText = 'Lembaga Sertifikasi harus diisi.';
            isValid = false;
        }

        if (idser === "-- Pilih Nama Sertifikasi --") {
            // Display error message for not selecting a program
            document.getElementById("idsertifikasiError").innerText = 'Nama Sertifikasi harus dipilih.';
            isValid = false;
        }

        if (!level.trim()) {
            // Display error message for empty certification name
            document.getElementById("levelSerti").innerText = 'Level Sertifikasi harus diisi.';
            isValid = false;
        }

        if (!levelk.trim()) {
            // Display error message for empty certification name
            document.getElementById("levelkkni").innerText = 'Level KKNI harus diisi.';
            isValid = false;
        }

        if (!tanggal.trim()) {
            // Display error message for empty date
            document.getElementById("tanggalError").innerText = 'Tanggal Sertifikasi harus diisi.';
            isValid = false;
        }

        if (!isValid) {
            // Stop further processing if there are validation errors
            return;
        }
        */

        var formData = new FormData();
        formData.append("idprodi", $('#idprodi').val());
        formData.append("namasertifikat", $('#namasertifikat').val());
        formData.append("tanggal", $('#tanggal').val());
        formData.append("lembagaserti", $('#lembagaserti').val());
        formData.append("levelserti", $('#levelserti').val());
        formData.append("levelkkni", $('#levelkkni').val());
        formData.append("kompeten", $('#kompeten').val());
        formData.append("tidakkompeten", $('#tidakkompeten').val());
        formData.append("tidakhadir", $('#tidakhadir').val());
        formData.append("jumlah", $('#jumlah').val());
        formData.append("fileName", $("#buktipendukung")[0].files[0].name);
        formData.append("file", $("#buktipendukung")[0].files[0]);

        

        $.ajax({
            url: url,
            type: method,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                //Menampilkan SweetAlert setelah data berhasil disimpan
                Swal.fire({
                    icon: 'success',
                    title: 'Berhasil',
                    text: 'Data berhasil ditambahkan!' + data.messages,
                }).then((result) => {
                    // Redirect ke halaman Index setelah menekan OK di SweetAlert
                    if (result.isConfirmed) {
                        
                    }
                });
                //downloadFile(data);
                
            },
            xhr: function () {
                var fileXhr = $.ajaxSettings.xhr();
                if (fileXhr.upload) {
                    $("progress").show();
                    fileXhr.upload.addEventListener("progress", function (e) {
                        if (e.lengthComputable) {
                            $("#fileProgress").attr({
                                value: e.loaded,
                                max: e.total
                            });
                        }
                    }, false);
                }
                return fileXhr;
            },
            error: function (error) {
                console.error('Error:', error);
                // Tambahkan penanganan kesalahan jika diperlukan
            }
        });
    }
</script>

<script>
    // Fungsi untuk menghitung jumlah peserta
    function hitungJumlahPeserta() {
        // Ambil nilai dari ketiga kolom
        var pesertaKompeten = parseInt(document.getElementById('kompeten').value) || 0;
        var pesertaTidakKompeten = parseInt(document.getElementById('tidakkompeten').value) || 0;
        var pesertaTidakHadir = parseInt(document.getElementById('tidakhadir').value) || 0;

        // Hitung jumlah total
        var totalPeserta = pesertaKompeten + pesertaTidakKompeten + pesertaTidakHadir;

        // Tampilkan hasil di kolom keempat
        document.getElementById('jumlah').value = totalPeserta;
    }
</script>