@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sertifikasi";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Nama Sertifikasi <span style="color: red;">*</span></label>
                    <input class="form-control" name="namaserti" id="namaserti" required/>
                    <span id="namaSerti" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="idprodi" class="control-label">Program Studi <span style="color: red;">*</span></label>
                    <select name="idprodi" id="idprodi" class="form-control" required>
                        <option selected disabled>-- Pilih Program Studi --</option>
                    </select>
                    <span id="idprodiError" class="text-danger"></span>
                </div>

                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" onclick="simpan()">Simpan</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    loadProdi();

    function loadProdi() {
        var hostname = "http://localhost:5268/";
        var url = hostname + "GetAllProdi";
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var list = data.data;
                list.forEach(function (item) {
                    var newOption = '<option value="' + item.idProdi + '">' + item.namaProdi + "</option>";
                    $("#idprodi").append(newOption);
                });
            },
        });
    }

    function simpan() {
        var idpro = document.getElementById("idprodi").value;
        var namaserti = document.getElementById("namaserti").value;

        document.getElementById("namaSerti").innerText = '';
        document.getElementById("idprodiError").innerText = '';

        var isValid = true;

        if (!namaserti.trim()) {
            // Display error message for empty certification name
            document.getElementById("namaSerti").innerText = 'Nama Sertifikasi harus diisi.';
            isValid = false;
        }

        if (idpro === "-- Pilih Program Studi --") {
            // Display error message for not selecting a program
            document.getElementById("idprodiError").innerText = 'Program Studi harus dipilih.';
            isValid = false;
        }

        if (!isValid) {
            // Stop further processing if there are validation errors
            return;
        }

        var hostname = "http://localhost:5268/";
        var url = hostname + "InsertSertifikasi";
        var method = "POST";

        var input = {
            idProdi: idpro,
            namaSerti: namaserti,
        };

        var data = JSON.stringify(input);

        $.ajax({
            url: url,
            method: method,
            data: data,
            contentType: "application/json",
            success: function (data) {
                // Menampilkan SweetAlert setelah data berhasil disimpan
                Swal.fire({
                    icon: 'success',
                    title: 'Berhasil',
                    text: 'Data berhasil ditambahkan!',
                }).then((result) => {
                    // Redirect ke halaman Index setelah menekan OK di SweetAlert
                    if (result.isConfirmed) {
                        window.location.href = "/Sertifikasi/Index";
                    }
                });
            },
            error: function (error) {
                console.error('Error:', error);
                // Tambahkan penanganan kesalahan jika diperlukan
            }
        });
    }
</script>
