@{
    ViewData["Title"] = "Sertifikasi";
}

<div class="row">
    <div class="col-lg-12">
        <br />

        <div class="card-body">

            <a asp-controller="Sertifikasi" class="btn btn-primary" asp-action="Create" title="Tambah Sertifikasi"><i class="fa fa-plus"></i>&nbsp;Tambah Sertifikasi</a>
            <br />
            <br />
            <table class="table table-hover table-bordered table-condensed table-striped mx-auto text-center scrollstyle">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center;">No.</th>
                        <th scope="col" style="text-align: center;">Nama Prodi</th>
                        <th scope="col" style="text-align: center;">Nama Sertifikasi</th>
                        <th scope="col" style="text-align: center;">Tanggal Sertifikasi</th>
                        <th scope="col" style="text-align: center;">Lembaga</th>
                        <th scope="col" style="text-align: center;">Level Sertifikasi</th>
                        <th scope="col" style="text-align: center;">Level KKNI</th>
                        <th scope="col" style="text-align: center;">Bukti Pendukung</th>
                        <th scope="col" style="text-align: center;">Aksi</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-detail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Detail Data Sertifikasi </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body table-responsive">
                <table class="table table-bordered no-margin">
                    <tbody>

                        <tr>
                            <th>Peserta Kompeten</th>
                            <td><span id="modal-detail-kom"></span></td>
                        </tr>
                        <tr>
                            <th>Peserta Tidak Kompeten</th>
                            <td><span id="modal-detail-tkom"></span></td>
                        </tr>
                        <tr>
                            <th>Peserta Tidak Hadir</th>
                            <td><span id="modal-detail-tdkh"></span></td>
                        </tr>
                        <tr>
                            <th>Total Peserta</th>
                            <td><span id="modal-detail-jmlh"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    loadTable();

    function loadTable() {
        var hostname = "https://localhost:44303/"
        var url = hostname + "GetAllSertifikasi";
        var method = "GET";
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var list = data.data;
                var rowNumber = 1;

                list.forEach(function (item) {
                    var options = { year: 'numeric', month: 'long', day: 'numeric' };

                    var formatter = new Intl.DateTimeFormat('id-ID', options);

                    var formattedTanggal = formatter.format(new Date(item.tanggal));

                    var newRow = '<tr>' +
                        '<td>' + rowNumber++ + '</td>' +
                        '<td>' + item.namaProdi + '</td>' +
                        '<td>' + item.namaSerti + '</td>' +
                        '<td>' + formattedTanggal + '</td>' +
                        '<td>' + item.lembaga + '</td>' +
                        '<td>' + item.level + '</td>' +
                        '<td>' + item.levelKKNI + '</td>' +
                        '<td><a href="" class="btn btn-primary btn-download" download="' + item.buktipendukung + '"><i class="fa fa-download"></i> &nbsp;Download bukti pendukung</a></td>' +
                        '<td>' +
                        '<a href="" id="detail-{{ $item->id_detail_sertifikasi }}" class="btn btn-sm detail-button "' +
                            'data-toggle="modal" data-target="#modal-detail" data-kom="'+ item.kompeten + '"' +
                            'data-tkom="' + item.tidakkompeten + '"' +
                            'data-tdkh="' + item.tidakhadir  + '"' +
                            'data-jmlh="' + item.jumlah + '"> <i class="fas fa-list" aria-hidden="true"></i></a>' +
                        '<span style="margin-right: 10px;"></span>' +
                        '</td>' +
                        '</tr>';
                    $('#tbody').append(newRow);
                });
            }
        });
    }

    @*function hapus(id) {
        Swal.fire({
            title: 'Apakah Anda yakin?',
            text: 'Data akan dihapus secara permanen!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Ya, Hapus!',
            cancelButtonText: 'Batal'
        }).then((result) => {
            if (result.isConfirmed) {
                // Jika pengguna mengonfirmasi
                var hostname = "https://localhost:44303/";
                var url = hostname + "DeleteProdi?id=" + id;
                var method = "POST";

                $.ajax({
                    url: url,
                    method: method,
                    contentType: "application/json",
                    success: function (data) {
                        Swal.fire({
                            title: 'Berhasil!',
                            text: 'Data berhasil dihapus.',
                            icon: 'success',
                        }).then(() => {
                            if (result.isConfirmed) {
                                window.location.href = "/Sertifikasi/Index";
                            }
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error deleting data:", errorThrown);
                        Swal.fire({
                            title: 'Error!',
                            text: 'Terjadi kesalahan saat menghapus data.',
                            icon: 'error',
                            showConfirmButton: false // Menyembunyikan tombol konfirmasi
                        });
                    }
                });
            }
        });
    }*@
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Menggunakan SweetAlert untuk konfirmasi penghapusan
        document.querySelectorAll('.detail-button').forEach(button => {
            button.addEventListener('click', function () {
                const kompeten = this.getAttribute('data-kom');
                const tkompten = this.getAttribute('data-tkom');
                const tidakhadir = this.getAttribute('data-tdkh');
                const jumlah = this.getAttribute('data-jmlh');

                // Mengisi data modal dengan detail yang sesuai
                document.getElementById('modal-detail-kom').innerText = kompeten;
                document.getElementById('modal-detail-tkom').innerText = tkompten;
                document.getElementById('modal-detail-tdkh').innerText = tidakhadir;
                document.getElementById('modal-detail-jmlh').innerText = jumlah;

                // Menampilkan modal
                $('#modal-detail-' + idDetail).modal('show');
            });
        });
    });
</script>