@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sertifikasi";
}

<div class="card-body">
    <div class="form-group">
        <label for="idprodi" class="control-label">Program Studi</label>
        <select name="idprodi" id="idprodi" class="form-control" required>
            <option value="">-- Pilih Program Studi --</option>
        </select>
        <span id="idprodiError" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Nama Sertifikasi</label>
        <input type="hidden" name="idsertifikat" id="idsertifikat" value="@ViewBag.Id" />
        <input class="form-control" name="namaSerti" id="namaSerti" />
    </div>
    <div class="form-group">
        <label class="control-label">Tanggal sertifikasi <span style="color: red;">*</span></label>
        <input class="form-control" type="date" name="tanggal" id="tanggal" />
        <span id="tanggalError" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Lembaga sertifikasi <span style="color: red;">*</span></label>
        <input class="form-control" type="text" name="lembagaserti" id="lembagaserti" required />
        <span id="lembagaSertiError" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label class="control-label">Level sertifikasi <span style="color: red;">*</span></label>
        <select name="levelserti" id="levelserti" class="form-control" type="" required>
            <option value="">Pilih Level</option>
            <option value="Lokal">Lokal</option>
            <option value="International">International</option>
            <!-- Tambahkan opsi sesuai dengan kebutuhan -->
        </select>
        <span id="levelSertiError" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Bukti Pendukung <span style="color: red;">*</span></label>
        <input class="form-control" type="file" name="buktipendukung" id="buktipendukung" multiple="multiple" accept=".pdf" required />
        <span id="buktipendukungError" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Peserta Kompeten <span style="color: red;">*</span></label>
        <input class="form-control" type="number" name="kompeten" id="kompeten" required onchange="hitungJumlahPeserta()" />
        <span id="kompetenErorr" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Peserta Tidak Kompeten <span style="color: red;">*</span></label>
        <input class="form-control" type="number" name="tidakkompeten" id="tidakkompeten" required onchange="hitungJumlahPeserta()" />
        <span id="tidakkompetenErorr" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Peserta Tidak Hadir <span style="color: red;">*</span></label>
        <input class="form-control" type="number" name="tidakhadir" id="tidakhadir" required onchange="hitungJumlahPeserta()" />
        <span id="tidakhadirErorr" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="jumlah">Total Peserta <span style="color: red;">*</span></label>
        <input type="number" name="jumlah" class="form-control" id="jumlah" readonly>
    </div>
    <div class="form-group">
        <label for="status" class="control-label">Status Sertifikasi</label>
        <select name="status" id="status" class="form-control" required>
            <option selected disabled>-- Pilih Status --</option>
            <option value="Aktif">Aktif</option>
            <option value="Tidak Aktif">Tidak Aktif</option>
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" onclick="simpan()">Simpan</button>
    </div>
</div>

<script>
    loadData();

    function loadData() {
        var idProdiElement = document.getElementById("idprodi");
        var namaSertiElement = document.getElementById("namaProdi");
        var tanggalElement = document.getElementById("tanggal");
        var lembagaElement = document.getElementById("lembagaserti");
        var levellement = document.getElementById("levelserti");
        var buktipendukungElement = document.getElementById("buktipendukung");
        var kompetenElement = document.getElementById("kompeten");
        var tidakkompetenlement = document.getElementById("tidakkompeten");
        var tidakhadirElement = document.getElementById("tidakhadir");
        var jumlahElement = document.getElementById("jumlah");
        var statusElement = document.getElementById("status");
        var namaProdiElement = document.getElementById("idprodi");
       

        var idSerti = idSertiElement.value; // Assuming idProdi is a hidden input or another form element
        var hostname = "https://localhost:44303/";
        var url = hostname + "getSertifikasi?idsertifikat=" + idSerti;
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var item = data.data;
                namaProdiElement.value = item.namaProdi;
                statusElement.value = item.status;
            },
            error: function (error) {
                console.error('Error:', error);
                // Handle errors if necessary
            }
        });
    }
</script>

<script>
    function simpan() {
        var idProdi = document.getElementById("idProdi").value;
        var namaSerti = document.getElementById("namaProdi").value;
        var tanggal = document.getElementById("tanggal").value;
        var lembaga = document.getElementById("lembagaserti").value;
        var level = document.getElementById("levelserti").value;
        var buktipendukung = document.getElementById("buktipendukung").value;
        var kompeten = document.getElementById("kompeten").value;
        var tidakkompeten = document.getElementById("tidakkompeten").value;
        var tidakhadir = document.getElementById("tidakhadir").value;
        var jumlah = document.getElementById("jumlah").value;
        var status = document.getElementById("status").value;

        // Menampilkan SweetAlert konfirmasi
        Swal.fire({
            title: 'Konfirmasi',
            text: 'Apakah Anda yakin ingin memperbarui data?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ya',
            cancelButtonText: 'Batal'
        }).then((result) => {
            if (result.isConfirmed) {
                // Jika pengguna menekan "Ya", lanjutkan dengan pembaruan data
                var hostname = "https://localhost:44303/";
                var url = hostname + "UpdateSertifikasi";
                var method = "PUT";

                var input = {
                    idsertifikat: id, // Mengirim ID yang ingin diupdate.
                    idProdi: idProdi,
                    namaSerti: namaSerti,
                    tanggal:tanggal,
                    lembaga:lemabaga,
                    level:level,
                    buktipendukung:bukti,
                    kompeten:kompeten,
                    tidakkompeten:tidakkompeten,
                    tidakhadir:tidakhadir,
                    jumlah:jumlah,
                    status:status,
                };

                var data = JSON.stringify(input);

                $.ajax({
                    url: url,
                    method: method,
                    data: data,
                    contentType: "application/json",
                    success: function (data) {
                        // Menampilkan SweetAlert setelah data berhasil diperbarui
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil',
                            text: 'Data berhasil diperbarui!',
                        }).then((result) => {
                            // Redirect ke halaman Index setelah menekan OK di SweetAlert
                            if (result.isConfirmed) {
                                window.location.href = "/Sertifikasi/Index";
                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("Error: " + error);
                        alert("Terjadi kesalahan saat memperbarui data.");
                    }
                });
            }
        });
    }
</script>
